body {
    background-color: black;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

/* Style navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 50px;
}

.navbar .logo {
    margin-left: 7rem;
    height: 80%;
    width: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2.5rem;
}

.navbar ul li {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0 1rem;
}

.tgl-btn {
    display: none;
    margin-right: 2.5rem;
}

.tgl-btn .tgl-icon {
    width: 2.5rem;
    height: auto;
}
/* Koniec style navbar */

/* Style header */
.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: min(30vw, 548px);
    background:
        url('/public/backgrounds/dots-bg-top.svg') no-repeat top center,
        url('/public/backgrounds/dots-bg.svg') center top;
    background-size: 100% auto, 100% auto;
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2100px;
}

.header-columns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-header {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 7rem;
}

.right-header {
    margin-right: 7rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.heading-text {
    display: flex;
    flex-direction: column;
    padding-top: 11rem;
}

.heading-text span {
    color: rgb(255, 255, 255);
    font-size: 5.5rem;
    font-weight: 500;
}

.autotype-bg {
    position: absolute;
    transform: translateY(0.85rem);
    background-color: #8400FF;
    box-shadow: 0px 0px 100px 10px #8400FF;
    width: 31.5rem;
    height: 5rem;
}

.left-header .heading-text .autotype {
    position: relative;
    line-height: 7rem;
    padding: 0px 10px;
    padding-top: 5px;
}

.left-header .heading-text span .gamers-highlight {
    color: #05F4F9;
    font-weight: 600;
}

/* Style do ramek */
.custom-tile {
    width: 210px;
    height: 258px;
    position: relative;
    box-shadow: 0px 0px 40px #8400FF;
    background-color: #8400ff69;
}

.custom-tile img {
    width: 100%;
    height: auto;
}

.tiles-column {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.tile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
}

.tile-text {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1rem;
    color: white;
}

.tile-text .highlight {
    color: #05F4F9;
}

.left-tiles-column {
    position: relative;
    padding-top: 180px;
}

.blue-stripe {
    position: absolute;
    width: 7px;
    left: 0px;
    top: -980px;
}

.right-tiles-column {
    position: relative;
    padding-top: 50px;
}

.purple-stripe {
    position: absolute;
    width: 7px;
    left: 0px;
    top: -1080px;
}

.tiles-column .mobile {
    display: none;
}
/* Koniec stylowania ramek */

/* Style terminal cta */
.cta-terminal-wrapper {
    border: 1px solid white;
    margin-top: 70px;
    font-family: 'Consolas';
}

.terminal1 {
    width: 100%;
}

.terminal-navbar {
    display: flex;
    justify-content: end;
    background-color: #505050;
    position: relative;
}

.terminal-navbar .buttons {
    padding: 10px 10px;
    height: 10px;
}

.terminal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.terminal-card .icon-text-container {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.terminal-card .icon-text-container .terminal-icon {
    height: 15px;
}

.terminal-card .icon-text-container span{
    font-size: 0.8rem;
}

.terminal-card .x-icon {
    height: 10px;
    padding-right: 5px;
}

.terminal1 .terminal-content, .terminal2 .terminal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    padding: 10px 25px;
    padding-bottom: 25px;
    background-color: #0C0C0C;
}

.terminal-content .begoat-terminal-text {
    font-size: 8px;
    font-weight: 400;
    margin: 0;
}

.terminal-content .regular-terminal-text {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.agreement-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.agreement-text {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

/* !style do checkboxa! */
input[type="checkbox"] {
    visibility: hidden;
}

.checkboxOverride {
    position: relative;
    width: 12px;
}

.checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkboxOverride label {
    background: none repeat scroll 0 0 #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
  
.checkboxOverride label:after {
    color: #05F4F9;
    border-style: none none solid solid;
    content: "";
    height: 30%;
    width: 60%;
    left: 10%;
    top: 20%;
    opacity: 0;
    position: absolute;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari, Chrome */
    transform:rotate(-45deg);
}
/* !koniec style do checkboxa! */

.terminal-content .input {
    width: 225px;
    color: #05F4F9;
    background-color: black;
    outline: none;
    border: 2px solid white;
    padding: 4px 6px;
    font-family: 'Rajdhani';
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
}

.terminal-content .input::placeholder {
    color: #05F4F9;
}

.terminal-content .input:focus {
    border: 2px solid #05F4F9;
}

.terminal-content .button {
    width: 225px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 4px 6px;
    font-family: 'Rajdhani';
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* style do animacja logo */
.logo-animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}

.logo-animation-container img {
    width: 80%;
}

/* style do video */
.video-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 70%;
}

.video-frame {
    width: 100%;
}
/* Koniec styli do headera */

/* style do graffiti */
.beGOAT-graffiti-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: max(-20vw, -365px);
}

.gradient-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.beGOAT-graffiti {
    z-index: 2;
    width: 110vw;
    max-width: 2000px;
    height: auto;
    position: relative;
}
/* Koniec styli do graffiti */

/* tło do about i esencji */
.about-gaming-wrapper {
    position: relative;
    /* padding-top: 20vw; */
    padding-top: min(20vw, 365px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-gaming-wrapper::before {
    content: "";
    position: absolute;
    z-index: 0;
    background-image: url(/public/textures/scratches-texture.png);
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: contrast(150%);
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
}

/* style do about */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    margin-top: 130px;
    width: 100%;
    max-width: 1900px;
    z-index: 1;
}

.logo-text {
    position: relative;
    z-index: 1;
}

.logo-sygnet {
    width: 100px;
    height: auto;
}

.about-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.3rem;
    font-weight: 500;
    z-index: 1;
}

.about-text {
    width: 70%;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    z-index: 1;
}

.about-text .be, .about-text .zmieniamy-zasady-gry {
    color: #05F4F9;
}

.about-text .goat, .about-text .bez-kompromisow {
    color: #8400FF;
}

/* Style do esencji gamingu */
.gaming-essence-container {
    display: flex;
    justify-content: center;
    margin-top: 35rem;
    position: relative;
    padding-bottom: 150px;
    width: 100%;
    max-width: 2100px;
}

.gaming-essence-container .purple-frame {
    width: 70%;
    max-width: 2100px;
    z-index: 1;
}

.terminal2 {
    position: absolute;
    width: 520px;
    top: -410px;
    z-index: 2;
}

.terminal2 .terminal-content span {
    font-size: 0.7rem;
}

.gaming-essence-container .mobile {
    display: none;
}

.gaming-essence-container .essence-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    margin-top: min(3vw, 63px);
    z-index: 2;
}

.gaming-essence-container .title {
    font-size: 3.5vw;
    font-size: min(3.5vw, 74px);
    font-weight: 500;
}

.gaming-essence-container .essence-text-container .esencja-gamingu {
    background-color: #8400FF;
}

.gaming-essence-container .essence-text-container .nowej-odslonie {
    color: #05F4F9;
    font-weight: 600;
}

.essence-text-container .text-columns-container {
    display: flex;
    flex-direction: row;
    gap: min(1vw, 21px);
    justify-content: center;
    margin-top: min(2vw, 42px);
}

.essence-text-container .text-columns-container .column {
    display: flex;
    flex-direction: column;
    gap: min(0.5vw, 10.5px);
    width: min(21vw, 439px);
}

.essence-text-container .text-columns-container .column .header {
    font-size: min(2.1vw, 44px);
    font-weight: 600;
    color: #05F4F9;
}

.essence-text-container .text-columns-container .column .text {
    font-size: min(1.75vw, 36.5px);
    font-weight: 500;
}

.gaming-essence-container .sofa-characters {
    position: absolute;
    width: min(60vw, 1255px);
    top: min(31vw, 648px);
    z-index: 2;
}

/* Style do sekcji */
/* Style do sekcji fav games*/
.fav-games-section {
    position: relative;
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: center;
}

.fav-games-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(45deg, #05F4F9 20%, #8400FF 110%);
    z-index: 0;
}

.fav-games-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: lighten;
    filter: contrast(500%);
    z-index: 1;
}

.fav-games-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    max-width: 1700px;
}

.games-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 60%;
}

.games-header {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.games-header .ulubione-gry {
    background-color: #8400FF;
    padding: 0px 10px;
}

.games-text {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
}

.games-img-container {
    position: relative;
    height: 100%;
    width: 380px;
}

.fav-games-image {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
    width: 780px;
    height: auto;
    z-index: 3;
}

/* Style do sekcji challanges */
.challanges-section {
    position: relative;
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: center;
}

.challanges-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
}

.challanges-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: contrast(150%);
    z-index: 1;
}

.challanges-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    max-width: 1700px;
}

.challanges-text-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 35%;
}

.challanges-header {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.challanges-header .header-highlight {
    background-color: #8400FF;
    padding: 0px 10px;
    margin: -5px;
}

.challanges-text {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.challanges-img-container {
    position: relative;
    height: 100%;
    width: 700px;
}

.challanges-main .mobile {
    display: none;
}

.challanges-image {
    position: absolute;
    bottom: 0;
    /* left: 60px; */
    right: 0px;
    width: 650px;
    height: auto;
    z-index: 3;
}

/* Style do sekcji rewards*/
.rewards-section {
    position: relative;
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: center;
}

.rewards-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #383838;
    z-index: 0;
}

.rewards-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    background-size: 110% 180%;
    opacity: 0.5;
    mix-blend-mode: lighten;
    filter: contrast(1000%);
    z-index: 1;
}

.rewards-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    max-width: 1700px;
}

.rewards-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 40%;
}

.rewards-header {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.rewards-header .wyplacaj {
    background-color: #8400FF;
    padding: 0px 10px;
}

.rewards-text {
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.rewards-img-container {
    position: relative;
    height: 100%;
    width: 600px;
}

.rewards-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    width: 800px;
    height: auto;
    z-index: 3;
}

/* style do tournaments */
.tournaments-section {
    position: relative;
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: center;
}

.tournaments-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(45deg, #8400FF 0%, #05F4F9 75%);
    z-index: 0;
}

.tournaments-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: lighten;
    filter: contrast(500%);
    z-index: 1;
}

.tournaments-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    max-width: 1700px;
}

.tournaments-text-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 65%;
}

.tournaments-header {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.tournaments-header .header-highlight {
    background-color: #8400FF;
    padding: 0px 10px;
}

.tournaments-text {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.tournaments-img-container {
    position: relative;
    height: 100%;
    width: 320px;
}

.tournaments-image {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 385px;
    height: auto;
    z-index: 3;
}

/* Style do sekcji account*/
.account-section {
    position: relative;
    width: 100%;
    min-height: 730px;
    display: flex;
    justify-content: center;
}

.account-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
}

.account-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: contrast(200%);
    z-index: 1;
}

.account-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    max-width: 1700px;
}

.account-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 60%;
}

.account-header {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
}

.account-header .jedno-konto {
    background-color: #8400FF;
    padding: 0px 10px;
}

.account-text {
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.account-text .be, .account-text .goat {
    font-weight: 600;
}

.account-text .be {
    color: #05F4F9;
}

.account-text .goat {
    color: #8400FF;
}

.account-img-container {
    position: relative;
    height: 100%;
    width: 370px;
}

.account-image {
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 700px;
    height: auto;
    z-index: 3;
}
/* Koniec sekcji */

/* Style do big cta terminal */
.big-cta-terminal {
    border: 1px solid white;
    font-family: 'Consolas';
    overflow-x: hidden;
}

.big-cta-terminal .terminal-navbar {
    display: flex;
    justify-content: end;
    background-color: #505050;
    position: relative;
}

.big-cta-terminal .terminal-navbar .buttons {
    padding: 10px 10px;
}

.big-cta-terminal .terminal-navbar .terminal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.big-cta-terminal .terminal-navbar .terminal-card .icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.big-cta-terminal .terminal-main {
    display: flex;
    justify-content: center;
    background-color: #0C0C0C;
    height: auto;
}

.big-cta-terminal .terminal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1700px;
    padding: 40px 0;
    color: white;
    height: auto;
}

.big-cta-terminal .info-begoat-terminal-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.big-cta-terminal .info span {
    font-size: 0.8rem;
    flex-shrink:initial;
}

.big-cta-terminal .terminal-content .logo-container{
    padding: 50px;
}

.big-cta-terminal .terminal-content .logo-container img{
    width: 400px;
    height: auto;
}

.info-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7rem;
    width: 40%;
}

.info-form-container .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.info-form-container .form input {
    color: #05F4F9;
    background-color: black;
    outline: none;
    border: 2px solid white;
    padding: 4px 6px;
    font-family: 'Rajdhani';
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
}

.info-form-container .form .button {
    width: 225px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 4px 6px;
    font-family: 'Rajdhani';
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.info-form-container .form input,  .info-form-container .form button{
    width: 230px;
}
/* Koniec duzego terminal cta */

/* Style do footer */
.footer {
    display: flex;
    justify-content: center;
    border: 3px solid #05F4F9;
    border-left: none;
    border-right: none;

    /* tło działa git, ale psure performance ?? może sie polepszy jak będzie import z png */
    /* background-image: url('/public/backgrounds/footer-bg.svg');
    background-size: cover;
    background-position: center; */
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
}

.company-info, .useful-links, .contact {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
    font-size: 1.2rem;
    color: white;
}

.company-info {
    margin-left: 7rem;
}

.contact {
    margin-right: 7rem;
}

.company-info img {
    width: 150px;
    margin-bottom: 1rem;
}

.company-info span {
    margin-bottom: 0.5rem;
}

.useful-links span {
    font-weight: 600;
    margin-bottom: 2rem;
}

.useful-links a {
    margin-bottom: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.contact span {
    font-weight: 600;
    margin-bottom: 2rem;
}

.contact button {
    margin-bottom: 1rem;
}

.contact .contact-btn {
    width: 150px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 4px 6px;
    font-family: 'Rajdhani';
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
/* Koniec footera */

@media(max-width: 768px) {
    .header-columns-container {
        /* display: flex;
        justify-content: center; */
    }
    
    .right-header {
        margin: 0;
        width: 100%;
        /* gap: 10vw; */
        /* display: flex; */
        justify-content: space-between;
        margin: 0 8vw;
    }

    .tiles-column .blue-stripe {
        width: 1vw;
        top: -100vw;
        left: -0.5vw;
    }

    .tiles-column .purple-stripe {
        width: 1.3vw;
        top: -138vw;
        left: -0.5vw;
    }

    .tiles-column {
        gap: 8vw;
    }

    .left-tiles-column {
        padding-top: 30vw;
    }   
    
    .right-tiles-column {
        padding-top: 10vw;
    }

    .tile-wrapper .custom-tile {
        width: 30vw;
        height: 30vw;
    }

    .tile-wrapper .tile-text{
        padding-left: 2vw;
        font-size: 4vw;
    }

    .tiles-column .tile-wrapper {
        width: 32vw;
        gap: 2vw;
    }

    .custom-tile img {
        width: 100%;
        height: auto;
    }

    .tiles-column .mobile {
        display: block;
    }

    .tiles-column .desktop {
        display: none;
    }

    .navbar  ul, .terminal1, .logo-animation-container, .logo-animation {
        display: none;
    }

    .tgl-btn {
        display: block;
    }

    .navbar {
        margin-top: min(30px, 4vw);
    }

    .navbar .logo {
        margin-left: 10vw;
        height: 7vw;
        max-height: 50px;
    }

    .navbar .tgl-btn {
        margin-right: 5vw;
        width: 7vw;
    }

    .navbar .tgl-btn .tgl-icon {
        margin-right: 5vw;
        width: 6vw;
    }

    .custom-tile {
        width: 40vw;
        height: 40vw;
    }

    .tile-wrapper {
        width: 41vw;
    }

    .left-header .heading-text {
        padding-top: 15vw;
    }

    .left-header {
        width: 100%;
        margin: 0 10vw;
    }

    .left-header .heading-text span {
        font-size: 9vw;
    }

    .autotype-container {
        height: 15vw;
    }

    .autotype-container .autotype-bg {
        height: 10vw;
        width: 55vw;
    }

    .video-container {
        margin-top: 25vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .beGOAT-graffiti-container .gradient-container {
        height: 20vw;
    }

    .about-container {
        gap: 8vw;
        margin-top: 15vw;
    }

    .logo-text .logo-sygnet {
        width: 17vw;
        height: auto;
    }

    .logo-text .about-title {
        font-size: 7vw;
    }

    .about-text {
        font-size: 4vw;
    }

    .gaming-essence-container {
        margin-top: 15vw;
        padding-bottom: 8vw;
    }

    .gaming-essence-container .desktop {
        display: none;
    }

    .gaming-essence-container .mobile {
        display: block;
        margin: 0 8vw;
    }

    .gaming-essence-container .essence-text-container .text-columns-container {
        flex-direction: column;
    }

    .essence-text-container .text-columns-container .column {
        width: 76vw;
    }

    .gaming-essence-container .essence-text-container .title {
        font-size: 4.5vw
    }

    .essence-text-container .text-columns-container .column .header {
        font-size: 4.4vw;
    }

    .essence-text-container .text-columns-container .column .text {
        font-size: 4.4vw;
    }

    .gaming-essence-container .sofa-characters {
        width: 79vw;
        left: 11.5vw;
        bottom: 5vw;
    }

    .terminal2 {
        display: none;
    }

    /* Style do sekcji kafelkowych */
    .account-section, .fav-games-section {
        overflow-x: hidden;
    }

    .fav-games-section, .challanges-section, .rewards-section, .tournaments-section, .account-section {
        min-height: 40vw;
    }

    .games-header, .challanges-header, .rewards-header, .tournaments-header, .account-header {
        font-size: 7vw;
    }

    .games-header .ulubione-gry, .challanges-header .header-highlight, .rewards-header .wyplacaj, .tournaments-header .header-highlight,
    .account-header .jedno-konto 
    {
        font-size: 7vw;
        padding: 0vw 0.5vw;
    }

    .games-text-container {
        margin-top: 8vw;
        margin-left: 8vw;
        margin-bottom: 8vw;
        margin-right: 8vw;
        gap: 2vw;
        width: 80%;
    }

    .rewards-text-container {
        margin-top: 8vw;
        margin-left: 8vw;
        margin-bottom: 8vw;
        margin-right: 8vw;
        gap: 2vw;
        width: 80%;
    }

    .account-text-container {
        margin-top: 8vw;
        margin-left: 8vw;
        margin-bottom: 8vw;
        margin-right: 8vw;
        gap: 2vw;
        width: 70%;
    }

    .challanges-text-container {
        margin-top: 8vw;
        margin-right: 8vw;
        margin-bottom: 8vw;
        gap: 2vw;
        width: 55%;
    }

    .tournaments-text-container {
        margin-top: 8vw;
        margin-right: 8vw;
        margin-bottom: 8vw;
        gap: 2vw;
        width: 55%;
    }

    .games-text {
        font-size: 4vw;
        width: 60%;
    }

    .rewards-text {
        font-size: 4vw;
        width: 60%;
    }

    .account-text {
        font-size: 4vw;
        width: 60%;
    }

    .challanges-text {
        font-size: 4vw;
        width: 100%;
        margin-right: 8vw;
    }

    .tournaments-text  {
        font-size: 4vw;
        width: 100%;
        margin-right: 8vw;
    }

    .games-img-container, .challanges-img-container, .rewards-img-container, .tournaments-img-container, .account-img-container {
        width: auto;
    }

    .fav-games-image {
        width: 115vw;
        left: -40vw;
    }

    .challanges-image {
        width: 52vw;
        right: -35vw;
    }

    .challanges-main .desktop {
        display: none;
    }    

    .challanges-main .mobile {
        display: block;
    }

    .rewards-image {
        width: 65vw;
        left: -35vw;
    }

    .tournaments-image {
        width: 50vw;
        right: -30vw;
    }

    .account-image {
        width: 88vw;
        left: -40vw;
    }
    /* Koniec styli do sekcji kafelkowych */

    .footer-main {
        flex-direction: column;
    }

    .company-info, .useful-links, .contact {
        margin: 4vw 8vw;
    }

    .company-info img {
        width: 30vw;
    }

    .company-info span, .useful-links span, .useful-links a, .contact span, .contact a {
        font-size: 4vw;
    }

    .contact .contact-btn {
        max-width: 280px;
    }

    .info-form-container .info, .terminal-content .logo-container {
        display: none;
    }

    .info-form-container {
        margin: 0;
    }

    .info-form-container .form {
        width: 87vw;
        margin: 0;
    }

    .big-cta-terminal .terminal-content {
        padding: 6vw;
    }

    .info-form-container .form input,  .info-form-container .form button{
        width: 100%;
    }
}