body {
    background-color: black;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
    margin: 0;
    
}

html {
    overflow-x: hidden;
}

/* Style navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 70px;
}

.navbar .logo {
    margin-left: 7rem;
    height: 80%;
    width: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2.5rem;
}

.navbar ul li {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0 1.5rem;
}

.tgl-btn {
    display: none;
    margin-right: 2.5rem;
}

.tgl-btn .tgl-icon {
    width: 2.5rem;
    height: auto;
}

/* Style header */
.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 7rem;
    margin-top: 5rem;
    max-width: 100%;
}

.right-header {
    width: 800px;
    height: 800px;
    /* border: 1px solid white; */
    width: 49%;
}

.left-header {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    width: 49%;
}

.left-header .heading-text {
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
}

.left-header .heading-text span {
    color: white;
    font-size: 8rem;
    font-weight: 500;
}

.autotype-bg {
    position: absolute;
    transform: translateX(-10px);
    transform: translateY(20px);
    background-color: #8400FF;
    box-shadow: 0px 0px 100px 10px #8400FF;
    width: 45rem;
    height: 8rem;
}

.left-header .heading-text .autotype {
    position: relative;
    line-height: 7rem;
    padding: 0px 10px;
    padding-top: 5px;
}

.left-header .heading-text span .gamers-highlight {
    color: #05F4F9;
    font-weight: 600;
}

/* Style terminal cta */
.cta-terminal-wrapper {
    border: 1px solid white;
    margin-top: 8rem;
    width: 800px;
    font-family: 'Consolas';
}

.terminal-navbar {
    display: flex;
    justify-content: end;
    background-color: #505050;
    position: relative;
}

.terminal-navbar .buttons {
    padding: 15px 10px;
}

.terminal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 8px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.terminal-card .icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.terminal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 20px 35px;
    padding-bottom: 35px;
    background-color: #0C0C0C;
}

.terminal-content .begoat-terminal-text {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}

.agreement-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* !style do checkboxa! */
input[type="checkbox"] {
    visibility: hidden;
}

.checkboxOverride {
    position: relative;
    width: 16px;
}

.checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkboxOverride label {
    background: none repeat scroll 0 0 #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
  
.checkboxOverride label:after {
    color: #05F4F9;
    border-style: none none solid solid;
    content: "";
    height: 30%;
    width: 60%;
    left: 15%;
    top: 20%;
    opacity: 0;
    position: absolute;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform:rotate(-45deg);
}
/* !koniec style do checkboxa! */

.terminal-content .input {
    width: 40%;
    color: #05F4F9;
    background-color: black;
    outline: none;
    border: 2px solid white;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
}

.terminal-content .input::placeholder {
    color: #05F4F9;
}

.terminal-content .input:focus {
    border: 2px solid #05F4F9;
}

.terminal-content .button {
    width: 40%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* style do animacja logo */
.logo-animation-container {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: 8rem;
}

/* style do video */
.video-container {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
}

.video-frame {
    width: 100%;
}

/* style do graffiti */
.beGOAT-graffiti-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    overflow-x: hidden;
}

.beGOAT-graffiti {
    transform: translateX(6%);
    width: 120vw;
    height: auto;
}

/* style do about */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    color: white;
    margin-top: 8rem;
}

.logo-text {
    position: relative;
}

.about-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 500;
}

.about-text {
    width: 80%;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.about-text .be, .about-text .zmieniamy-zasady-gry {
    color: #05F4F9;
}

.about-text .goat, .about-text .bez-kompromisow {
    color: #8400FF;
}

/* Style do sekcji fav games*/
.fav-games-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    /* overflow-x: hidden; */
}

.fav-games-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(45deg, #05F4F9 20%, #8400FF 110%);
    z-index: 0;
}

.fav-games-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: lighten;
    filter: contrast(500%);
    z-index: 1;
}

.games-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 45%;
}

.games-header {
    color: white;
    /* font-size: 80px; */
    font-size: 3.5vw;
    font-weight: 600;
}

.games-header .ulubione-gry {
    background-color: #8400FF;
    padding: 0px 20px;
    margin: -5px;
}

.games-text {
    font-size: 48px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #000000;
}

.fav-games-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vw;
    height: auto;
    z-index: 3;
}

/* Style do sekcji challanges */
.challanges-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* overflow-x: hidden; */
}

.challanges-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    /* background-image: linear-gradient(45deg, #05F4F9 20%, #8400FF 110%); */
    z-index: 0;
}

.challanges-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: contrast(150%);
    z-index: 1;
}

.challanges-text-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 45%;
}

.challanges-header {
    color: white;
    /* font-size: 80px; */
    font-size: 3.5vw;
    font-weight: 600;
}

.challanges-header .header-highlight {
    background-color: #8400FF;
    padding: 0px 20px;
    margin: -5px;
}

.challanges-text {
    font-size: 48px;
    font-size: 2.2vw;
    font-weight: 500;
    color: white;
}

.challanges-image {
    position: absolute;
    bottom: 0;
    left: 7rem;
    width: 30vw;
    /* width: 40rem; */
    height: auto;
    z-index: 3;
}

/* Style do sekcji rewards*/
.rewards-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.rewards-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: #383838;
    z-index: 0;
}

.rewards-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    background-size: 110% 180%;
    opacity: 0.5;
    mix-blend-mode: lighten;
    filter: contrast(1000%);
    z-index: 1;
}

.rewards-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 45%;
}

.rewards-header {
    color: white;
    font-size: 3.5vw;
    font-weight: 600;
}

.rewards-header .wyplacaj {
    background-color: #8400FF;
    padding: 0px 20px;
    margin: -5px;
}

.rewards-text {
    font-size: 48px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #ffffff;
}

.rewards-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7rem;
    width: 40vw;
    height: auto;
    z-index: 3;
}

/* style do tournaments */
.tournaments-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* overflow-x: hidden; */
}

.tournaments-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(45deg, #8400FF 0%, #05F4F9 75%);
    z-index: 0;
}

.tournaments-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: lighten;
    filter: contrast(500%);
    z-index: 1;
}

.tournaments-text-container {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 55%;
}

.tournaments-header {
    color: white;
    /* font-size: 80px; */
    font-size: 3.5vw;
    font-weight: 600;
}

.tournaments-header .header-highlight {
    background-color: #8400FF;
    padding: 0px 20px;
    margin: -5px;
}

.tournaments-text {
    font-size: 48px;
    font-size: 2.2vw;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.tournaments-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 23vw;
    max-width: 490px;
    height: auto;
    z-index: 3;
}

/* Style do sekcji account*/
.account-section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.account-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    /* background-image: linear-gradient(45deg, #05F4F9 20%, #8400FF 110%); */
    z-index: 0;
}

.account-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-image: url('/public/textures/scratches-texture.png');
    opacity: 0.7;
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: contrast(200%);
    z-index: 1;
}

.account-text-container {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 45%;
}

.account-header {
    color: white;
    /* font-size: 80px; */
    font-size: 3.5vw;
    font-weight: 600;
}

.account-header .jedno-konto {
    background-color: #8400FF;
    padding: 0px 20px;
    margin: -5px;
}

.account-text {
    font-size: 48px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #ffffff;
}

.account-text .be, .account-text .goat {
    font-weight: 600;
}

.account-text .be {
    color: #05F4F9;
}

.account-text .goat {
    color: #8400FF;
}

.account-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vw;
    max-width: 800px;
    height: auto;
    z-index: 3;
}

/* Style do footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #05F4F9;
    border-left: none;
    border-right: none;

    /* tło działa git, ale psure performance ?? może sie polepszy jak będzie import z png */
    /* background-image: url('/public/backgrounds/footer-bg.svg');
    background-size: cover;
    background-position: center; */
}

.company-info, .useful-links, .contact {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
    font-size: 2rem;
    color: white;
}

.company-info {
    margin-left: 7rem;
}

.contact {
    margin-right: 7rem;
}

.company-info img {
    width: 14rem;
    margin-bottom: 1rem;
}

.company-info span {
    margin-bottom: 0.5rem;
}

.useful-links span {
    font-weight: 600;
    margin-bottom: 1.7rem;
}

.useful-links a {
    margin-bottom: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.contact span {
    font-weight: 600;
    margin-bottom: 1.7rem;
}

.contact button {
    margin-bottom: 1rem;
}

.contact .contact-btn {
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

/* Style do big cta terminal */
.big-cta-terminal {
    border: 1px solid white;
    font-family: 'Consolas';
    overflow-x: hidden;
}

.big-cta-terminal .terminal-navbar {
    display: flex;
    justify-content: end;
    background-color: #505050;
    position: relative;
}

.big-cta-terminal .terminal-navbar .buttons {
    padding: 10px 10px;
}

.big-cta-terminal .terminal-navbar .terminal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.big-cta-terminal .terminal-navbar .terminal-card .icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.big-cta-terminal .terminal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 4rem; */
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.big-cta-terminal .terminal-content .logo-container{
    /* width: 200px; */
    margin-right: 8rem;
    padding: 50px;
}

.big-cta-terminal .terminal-content .logo-container img{
    width: 30rem;
    height: auto;
}

.info-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.info-form-container .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.info-form-container .form input,  .info-form-container .form button{
    width: 18rem;
}

@media(max-width: 1850px) {
    .rewards-image {
        right: 5vw;
    }
}

/*! Media queries !*/
@media(max-width: 1101px) {
    .navbar  ul, .terminal1, .logo-animation-container, .logo-animation{
        display: none;
    }

    .tgl-btn {
        display: block;
    }

    .navbar {
        margin-top: min(30px, 4vw);
    }

    .navbar .logo {
        margin-left: 10vw;
        height: 7vw;
        max-height: 50px;
    }

    .navbar .tgl-btn {
        margin-right: 5vw;
        width: 7vw;
    }

    .navbar .tgl-btn .tgl-icon {
        margin-right: 5vw;
        width: 6vw;
    }

    .header-wrapper {
        margin: 0 10vw;
    }

    .left-header {
        width: 100%;
    }

    .left-header .heading-text span {
        font-size: 10vw;
    }

    .autotype-container {
        height: 15vw;
    }

    .autotype-container .autotype-bg {
        height: 11vw;
        width: 61vw;
    }

    .video-container {
        margin-top: 15vw;
    }

    .beGOAT-graffiti-container {
        margin-top: 15vw;
    }

    .about-container {
        gap: 8vw;
        margin-top: 15vw;
    }

    .logo-text .logo-sygnet {
        width: 17vw;
        height: auto;
    }

    .logo-text .about-title {
        font-size: 7vw;
    }

    .about-text {
        font-size: 4vw;
    }

    .account-section {
        overflow-x: hidden;
    }

    .games-text-container, .rewards-text-container {
        margin-top: 8vw;
        margin-left: 8vw;
        margin-bottom: 8vw;
        margin-right: 8vw;
        gap: 2vw;
        width: 80%;
    }

    .account-text-container {
        margin-top: 8vw;
        margin-left: 8vw;
        margin-bottom: 8vw;
        margin-right: 8vw;
        gap: 2vw;
        width: 50%;
    }

    .games-header, .challanges-header, .rewards-header, .tournaments-header, .account-header {
        font-size: 7vw;
    }

    .games-header .ulubione-gry, .challanges-header .header-highlight, .rewards-header .wyplacaj, .tournaments-header .header-highlight,
    .account-header .jedno-konto 
    {
        font-size: 7vw;
        padding: 0vw 0.5vw;
    }

    .games-text, .rewards-text {
        font-size: 4vw;
        width: 60%;
    }

    .account-text {
        font-size: 4vw;
        width: 90%;
    }

    .challanges-text, .tournaments-text  {
        font-size: 4vw;
        width: 100%;
        margin-right: 8vw;
    }

    .fav-games-section {
        margin-top: 15vw;
        overflow-x: hidden;
    }

    .fav-games-image {
        width: 90vw;
        right: -45vw;
    }

    .challanges-text-container, .tournaments-text-container {
        margin-top: 8vw;
        margin-right: 8vw;
        margin-bottom: 8vw;
        gap: 2vw;
        width: 50%;
    }

    .tournaments-text-container {
        margin-top: 8vw;
        margin-right: 8vw;
        margin-bottom: 8vw;
        gap: 2vw;
        width: 60%;
    }

    .challanges-image {
        width: 60vw;
        left: 4vw;
    }

    .rewards-image {
        width: 65vw;
        right: -25vw;
    }

    .tournaments-image {
        width: 40vw;
        left: -10vw;
    }

    .account-image {
        width: 88vw;
        right: -40vw;
    }

    .footer {
        flex-direction: column;
    }

    .company-info, .useful-links, .contact {
        margin-left: 7rem;
    }

    .contact .contact-btn {
        max-width: 280px;
    }

    .info-form-container .info, .terminal-content .logo-container {
        display: none;
    }

    .info-form-container .form {
        width: 87vw;
        margin-top: 0;
    }

    .big-cta-terminal .terminal-content {
        padding: 6vw;
    }

    .info-form-container .form input,  .info-form-container .form button{
        width: 100%;
    }
    
}

@media(max-width: 500px) {
    .company-info img {
        width: 45vw;
    }

    .company-info span, .useful-links, .contact {
        font-size: 6.5vw;
    }

    .company-info, .useful-links, .contact {
        margin-left: 10vw;
    }

    .contact .contact-btn {
        font-size: 5vw;
        padding: 2vw;
    }
}
