body {
    background-color: black;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Style navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 70px;
}

.navbar .logo {
    margin-left: 7rem;
    height: 80%;
    width: auto;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2.5rem;
}

.navbar ul li {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding: 0 1.5rem;
}

.tgl-btn {
    display: none;
    margin-right: 2.5rem;
}

.tgl-btn .tgl-icon {
    width: 2.5rem;
    height: auto;
}

/* Style header */
.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 7rem;
    margin-top: 5rem;
    max-width: 100%;
}

.right-header {
    width: 800px;
    height: 800px;
    /* border: 1px solid white; */
    width: 49%;
}

.left-header {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    width: 49%;
}

.left-header .heading-text {
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
}

.left-header .heading-text span {
    color: white;
    font-size: 8rem;
    font-weight: 500;
}

.autotype-bg {
    position: absolute;
    transform: translateX(-10px);
    transform: translateY(20px);
    background-color: #8400FF;
    box-shadow: 0px 0px 100px 10px #8400FF;
    width: 45rem;
    height: 8rem;
}

.left-header .heading-text .autotype {
    position: relative;
    line-height: 7rem;
    padding: 0px 10px;
    padding-top: 5px;
}

.left-header .heading-text span .gamers-highlight {
    color: #05F4F9;
    font-weight: 600;
}

@media(max-width: 1001px) {
    .navbar  ul, .terminal1, .logo-animation-container, .logo-animation{
        display: none;
    }

    .tgl-btn {
        display: block;
    }

    .navbar {
        /* margin-top: 1vw; */
        margin-top: min(30px, 4vw);
    }

    .navbar .logo {
        margin-left: 10vw;
        height: 7vw;
        max-height: 50px;
    }

    .navbar .tgl-btn {
        margin-right: 5vw;
        width: 7vw;
    }

    .navbar .tgl-btn .tgl-icon {
        margin-right: 5vw;
        width: 6vw;
    }

    .header-wrapper {
        margin: 0 10vw;
    }

    .left-header {
        width: 100%;
    }

    .left-header .heading-text span {
        font-size: 10vw;
    }

    .autotype-container {
        height: 15vw;
    }

    .autotype-container .autotype-bg {
        height: 11vw;
        width: 61vw;
    }
}

/* Style terminal cta */
.cta-terminal-wrapper {
    border: 1px solid white;
    margin-top: 8rem;
    width: 800px;
    font-family: 'Consolas';
    /* display: inline-block; */
}

.terminal-navbar {
    display: flex;
    justify-content: end;
    background-color: #505050;
    position: relative;
}

.terminal-navbar .buttons {
    padding: 15px 10px;
}

.terminal-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 8px;
    background-color: #0C0C0C;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.terminal-card .icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.terminal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 20px 35px;
    padding-bottom: 35px;
    background-color: #0C0C0C;
}

.terminal-content .begoat-terminal-text {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}

.agreement-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* !style do checkboxa! */
input[type="checkbox"] {
    visibility: hidden;
}

.checkboxOverride {
    position: relative;
    width: 16px;
}

.checkboxOverride input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkboxOverride label {
    background: none repeat scroll 0 0 #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
  
.checkboxOverride label:after {
    color: #05F4F9;
    border-style: none none solid solid;
    content: "";
    height: 30%;
    width: 60%;
    left: 15%;
    top: 20%;
    opacity: 0;
    position: absolute;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform:rotate(-45deg);
  }
  /* !koniec style do checkboxa! */

  .terminal-content .input {
    width: 40%;
    color: #05F4F9;
    background-color: black;
    outline: none;
    border: 2px solid white;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
  }

  .terminal-content .input::placeholder {
    color: #05F4F9;
  }

  .terminal-content .input:focus {
    border: 2px solid #05F4F9;
  }

  .terminal-content .button {
    width: 40%;
    color: #000000;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid #05F4F9;
    border-style: none none solid none;
    padding: 8px;
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  /* style do animacja logo */
  .logo-animation-container {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-top: 8rem;
  }

  /* style do video */
  .video-container {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    width: 100%;
  }

  .video-frame {
    width: 100%;
  }

  /* style do graffiti */
  .beGOAT-graffiti-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
  }

  .beGOAT-graffiti {
    transform: translateX(6%);
  }